body {
    overflow-y: scroll;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sortable {
    cursor: pointer;
}

.autocomplete {
    cursor: pointer;
}

.splitAction {
    width: 150px;
}

.matchDayButton {
    width: 45px;
}

.firstLegs,
.secondLegs {
    width: 100px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.matchEncounter {
    display: inline-block;
    width: 60px;
}

.matchDivider {
    text-align: center;
    display: inline-block;
    width: 20px;
}