<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="btn-group pull-right" dropdown>
            <button id="split-button" type="button" class="btn btn-info splitAction">{{vm.splitAction}}</button>
            <button type="button" class="btn btn-info" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Spieltag auswählen</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="matchday in vm.matchdays">
                    <a href ng-click="vm.selectMatchDay(matchday.id)">{{matchday.id}}. Spieltag</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem"><a href ng-click="vm.setBulkForMatchDay()">Spieltag ausfüllen</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>Datum</th>
                <th>Begegnung</th>
                <th>Ergebnis</th>
                <th></th>
            </tr>
            <tr ng-repeat="match in vm.matchDay.matchDay">
                <td>{{match.date | date: 'dd. MMM yyyy - HH:mm'}}</td>
                <td>
                    {{match.home.shortcut}} <img ng-src="/images/clubs/{{match.home.shortcut}}.svg" height="18" alt="{{match.home.shortcut}}"
                                              title="{{match.home.name}}"> : <img ng-src="/images/clubs/{{match.visitor.shortcut}}.svg" height="18"
                                                                                  alt="{{match.visitor.shortcut}}" title="{{match.visitor.name}}">
                    {{match.visitor.shortcut}}
                </td>
                <td>{{match.goalsHome | number |ifUndefinedOrNull:'-' }} : {{match.goalsVisitor | number |ifUndefinedOrNull:'-' }}</td>
                <td><a href="/matchdays/{{vm.matchDay.id}}/{{match.id}}">Ergebnis eintragen</a></td>
            </tr>
        </table>
    </div>
</div>