<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><img ng-src="/images/clubs/{{vm.club.shortcut}}.svg" height="20" alt="{{vm.club.shortcut}}" title="{{vm.club.name}}">{{vm.club.name}}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>Spiele</th>
                <th>Siege</th>
                <th>Unentschieden</th>
                <th>Niederlagen</th>
                <th>Tore</th>
                <th>Tordifferenz</th>
                <th>Punkte</th>
            </tr>
            <tr>
                <td>{{vm.club.matches}}</td>
                <td>{{vm.club.victories}}</td>
                <td>{{vm.club.draws}}</td>
                <td>{{vm.club.defeats}}</td>
                <td>{{vm.club.goalsShot}}:{{vm.club.goalsTaken}}</td>
                <td>{{vm.club.goalsDiff}}</td>
                <td>{{vm.club.points}}</td>
            </tr>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <a href="/" class="btn btn-default pull-right">Zurück zur Übersicht</a>
    </div>
</div>