<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="btn-group pull-right" dropdown>
            <button id="split-button" type="button" class="btn btn-info splitAction">{{vm.splitAction}}</button>
            <button type="button" class="btn btn-info" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Spieltag auswählen</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="spieltag in vm.spieltage">
                    <a href ng-click="vm.selectSpieltag(spieltag.id)">{{spieltag.id}}. Spieltag</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem"><a href ng-click="vm.setBulkForSpieltag()">Spieltag ausfüllen</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>Datum</th>
                <th>Begegnung</th>
                <th>Ergebnis</th>
                <th></th>
            </tr>
            <tr ng-repeat="spiel in vm.spieltag.spieltag">
                <td>{{spiel.date | date: 'dd. MMM yyyy - HH:mm'}}</td>
                <td>
                    {{spiel.heim.short}} <img ng-src="/images/vereine/{{spiel.heim.short}}.svg" height="18" alt="{{spiel.heim.short}}"
                                              title="{{spiel.heim.name}}"> : <img ng-src="/images/vereine/{{spiel.gast.short}}.svg" height="18"
                                                                                  alt="{{spiel.gast.short}}" title="{{spiel.gast.name}}"> {{spiel.gast.short}}
                </td>
                <td>{{spiel.toreHeim | number |ifUndefinedOrNull:'-' }} : {{spiel.toreGast | number |ifUndefinedOrNull:'-' }}</td>
                <td><a href="/spieltage/{{vm.spieltag.id}}/{{spiel.id}}">Ergebnis eintragen</a></td>
            </tr>
        </table>
    </div>
</div>