<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{vm.spiel.heim.name}} : {{vm.spiel.gast.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="heimAddon"><img ng-src="/images/vereine/{{vm.spiel.heim.short}}.svg" height="18"> {{vm.spiel.heim.short}}</span>
                    <input type="number" class="form-control" placeholder="{{vm.spiel.heim.name}}" aria-describedby="heimAddon" ng-model="vm.spiel.toreHeim">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="{{vm.spiel.gast.name}}" aria-describedby="gastAddon" ng-model="vm.spiel.toreGast">
                    <span class="input-group-addon" id="gastAddon">{{vm.spiel.gast.short}} <img ng-src="/images/vereine/{{vm.spiel.gast.short}}.svg" height="18"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-success" ng-click="vm.saveErgebnis()">Ergebnis speichern</button>
        <a href="/spieltage" class="btn btn-default pull-right">Zurück zum Spielplan</a>
    </div>
</div>