<div class="container" ng-controller="NavbarCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img ng-src="/images/logo.png" height="40">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Verein" ng-model="vm.vereinSelected"
                       typeahead="verein as verein.name for verein in vm.vereine | filter:$viewValue"
                       typeahead-template-url="/includes/commons/autocomplete.html" typeahead-select-on-exact="true" typeahead-on-select="vm.onSelect()">
            </div>
            <button type="submit" class="btn btn-default" ng-click="vm.loadVerein()" ng-disabled="vm.readOnly">Suchen</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: vm.isActive('/') }"><a href="/">Vereinsliste</a></li>
            <li ng-class="{ active: vm.isActive('/spieltage') }"><a href="/spieltage">Spielplan</a></li>
            <li ng-class="{ active: vm.isActive('/tabelle') }"><a href="/tabelle">Tabelle</a></li>
        </ul>
    </div>
</div>